.warnmsg {
    background: #ffb2b2/*ff7f7f*//*ffe57f*//*ffcc00*/;
    border: 2px solid red;
    padding: 0.4em;
    margin-bottom: 0.4em;
    color: #000;
    font-size: larger;
}

.ofb-text {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

td.ofb-space-td {
    padding: 0em 0.5em;
}

.ofb-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 6px 6px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32,32,32,.3);
    text-align: center;
}

.ofb-table-thin {
    width: 50%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 6px 6px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32,32,32,.3);
    text-align: center;
}

th.ofb-th,td.ofb-td {
    padding: 12px 15px;
}

th.ofb-th {
    background-color: #9932cc/*8241a3*//*7a28a3*/;
    text-align: center;
    color: #fff;
}

.ofb-single-text {
    font-size: larger;
}

.ofb-row-odd {
    background-color: rgba(200,200,200,0.7);
}

.ofb-row-even-red {
    background: rgba(255,0,0,0.8);
    color: rgba(255,255,255,1);
    font-weight: bold;
}

.ofb-row-odd-red {
    background: rgba(150,0,0,0.8);
    color: rgba(255,255,255,1);
    font-weight: bold;
}

.ofb-row-even-orange {
    background: rgba(255,64,0,0.8);
    color: rgba(255,255,255,1);
    font-weight: bold;
}

.ofb-row-odd-orange {
    background: rgba(255,80,0,0.7);
    color: black;
}